@model NotesApp.Models.AuthNotes.AuthNotesLoginViewModel

<div>
    @using (Html.BeginForm("Login", "AuthNotes", FormMethod.Post))
    {
        <div class="custom_input">
            @Html.HiddenFor(x => x.ReturnUrl)
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName, new { placeholder = "UserName", @class = "input" })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", @class = "input" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            <button type="submit" class="custom_input_button">Login</button>
        </div>
    }
</div>