@model NotesApp.Models.AuthNotes.AuthNotesRegistrationViewModel

@section Scripts{
    <script src="~/js/notes/registration.js"></script>
}

<div>
    @using (Html.BeginForm("Registration", "AuthNotes", FormMethod.Post))
    {   <div class="custom_input">
            @Html.LabelFor(x => x.UserName)
            <div class="input-username-wrapper">
                <span id="username-status" class="input-username-status-icon"></span>
                @Html.TextBoxFor(x => x.UserName, new { placeholder = "UserName", @class = "input" })
            </div>
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", @class = "input" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "field-validation-error" })
        </div>
        <div class="custom_input">
            <button type="submit" class="custom_input_button">Registration</button>
        </div>
    }
</div>