@using NotesApp.Localizations.Notes
@model NotesApp.Models.Notes.NotesViewModel

@section Scripts {
    <script src="/js/notes/index.js"></script>
}

<div class="main">
    <div class="left_side">
        <div class="categories">
            <h2>@Notes.Index_h2_categories</h2>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    var isActiveCategory = Model.SelectedCategoryId == category.Id;
                    <li class="category-item @(isActiveCategory ? "active" : "")">
                        <a href="@Url.Action("Index", "Notes", new { categoryId = category.Id })">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="tags">
            <h2>@Notes.Index_h2_tags</h2>
            <ul>
                @foreach (var tag in Model.Tags)
                {
                    var isActiveTag = Model.SelectedTagId == tag.Id;
                    <li class="tag-item @(isActiveTag ? "active" : "")">
                        <a href="@Url.Action("Index", "Notes", new { tagId = tag.Id })">
                            @tag.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="right_side">
        @foreach (var note in Model.Notes)
        {
            <div class="note" data-id="@note.Id">
                <div class="note-content">
                    <div class="note-title" data-editable="@note.IsAllowedToTitleUpdate.ToString().ToLower()">
                        <h3 class="view">@note.Title</h3>
                        <input type="text" class="edit hidden" value="@note.Title"/>
                        <span class="empty-title hidden" style="color:red;">@ValidationMessages.RequiredTitle</span>
                    </div>
                    <div class="note-text">
                        @Html.Raw(note.Description)
                    </div>
                    <a href="#" class="toggle-note" 
                       data-show="@Notes.Show"
                       data-hide="@Notes.Hide">
                        @Notes.Show
                    </a>
                    <div class="tags-inline">
                        @if (note.Category != null)
                        {
                            <span class="category-tag">@note.Category.Name</span>
                        }
                        @foreach (var tag in note.Tags)
                        {
                            <span>@tag.Name</span>
                        }
                    </div>
                    <div class="author">
                        @Notes.Index_note_author: @note.Author
                    </div>
                </div>
                <div class="note_image">
                    @if (!string.IsNullOrEmpty(note.ImageUrl))
                    {
                        <img src="@note.ImageUrl" alt="@note.Title"/>
                    }
                </div>
                <div class="note-actions">
                    @if (note.IsAllowedToDelete){
                        <a class="note-edit" href="/notes/edit?id=@note.Id">✎</a>
                        <a class="note-delete" href="/notes/remove?id=@note.Id">✕</a>
                    }
                </div>
            </div>
        }
    </div>

    <div class="ads">
        <h2>@Notes.Index_h2_ads</h2>
        
    </div>
</div>